<div style="overflow-x: auto">
  <!-- me inscrevo no observable e extraio as informações que ele me retorna, vou chamalas de products -->
  <div *ngIf="product$ | async as products; else loading">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Código do Produto</th>
          <th>Produto</th>
          <th>Quantidade</th>
          <th>Preço</th>
          <th>Opção</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of product$ | async">
          <th>{{ product.id }}</th>
          <td>{{ product.code }}</td>
          <td>{{ product.product }}</td>
          <td>{{ product.quantity }}</td>
          <td>{{ product.price }}</td>
          <td>
            <div class="btn-option">
              <button class="btn btn-update" (click)="onEdit(product.id)">
                <span>Editar</span>
              </button>
              <button class="btn btn-delete" (click)="onDelete(product.id)">
                <span>Deletar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
