<!-- <div class="table-container">
  <mat-form-field appearance="standard">
    <mat-label>Filtrar</mat-label>
    <input matInput placeholder="Digite para filtrar">
  </mat-form-field>

  <table mat-table matSort class="mat-elevation-z8" *ngFor="let product of product">


    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Código do Produto</th>
      <td mat-cell >{{product.code}}</td>
    </ng-container>


    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Produto</th>
      <td mat-cell >{{product.product}}</td>
    </ng-container>

    <
    <ng-container matColumnDef="quantidade">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantidade</th>
      <td mat-cell>{{product.quantity}}</td>
    </ng-container>

    <ng-container matColumnDef="preco">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Preço</th>
      <td mat-cell >{{product.price | currency}}</td>
    </ng-container>


    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell ></td>
    </ng-container>

    <tr mat-header-row ></tr>
    <tr mat-row></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div> -->



<div style="overflow-x: auto;">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Código do Produto</th>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Preço</th>
        <th>Opção</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of product$ | async">
        <th>{{product.id}}</th>
        <td>{{product.code}}</td>
        <td>{{product.product}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.price}}</td>
        <td>
          <div class="btn-option">
            <button class="btn btn-update" (click)="onEdit(product.id)"><span>Editar</span></button>
            <button class="btn btn-delete" (click)="onDelete(product.id)"><span>Deletar</span></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
