.container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {

  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
  cursor: pointer;
}
