<div class="container">
  <div class="row">
    <form [formGroup]="formulario">
      <mat-form-field appearance="outline">
        <mat-label>Código de Barra</mat-label>
        <input matInput formControlName="code" mask="0000000000000">
        <mat-error>
          Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nome do Produto</mat-label>
        <input matInput formControlName="product">
        <mat-error>
          Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Quantidade</mat-label>
        <input matInput formControlName="quantity" mask="999">
        <mat-error>
          Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Preço</mat-label>
        <input matInput formControlName="price" currencyMask
        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }">

        <mat-error>
          Name is required
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary"
              type="submit" [disabled]="formulario.invalid"
              (click)="onSubmit()">
              Submit
      </button>
    </form>
  </div>
</div>
